@use "../../variable.scss" as *;

footer {
  padding: 70px 0 60px 0;
  background: $Bg;

  .container {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;

    .box {
      flex: 1;
      min-width: 200px;

      h3 {
        color: $Text2;
        text-transform: capitalize;
        padding-bottom: 15px;
      }
      p {
        color: $Text3;
        text-transform: capitalize;
        padding-bottom: 5px;
        transition: 0.4s ease;
        cursor: pointer;

        &:hover {
          color: $Text1;
        }
      }
    }
  }
}
